## Sort list

In [3]:
#geenral sorting method is by sort() function and it will alter the list and sort the value as decending orders
list1 = [3,5,72,4,6,23,76]
list1.sort()
print(list1)

[3, 4, 5, 6, 23, 72, 76]

In [4]:
#Sorting a list with sorted (), this sorted function will not alter the original list
list1 = [3,5,72,4,6,23,76]
list2 = sorted(list1)
print(list2)

[3, 4, 5, 6, 23, 72, 76]

In [5]:
print(list1)

[3, 5, 72, 4, 6, 23, 76]

In [6]:
help(sorted) #taking help on sorted function

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [7]:
#sort the list in reverse with sorted functions, and it will return the list decending order
sorted(list1, reverse = True)

[76, 72, 23, 6, 5, 4, 3]

In [8]:
#and the same parameter as reverse=True will work on sort() method

In [9]:
#sorted function gives more flexibility
#sort method only works for list but sorted function is for all the iterable whether it is list or tuple or dict

# working with tuple

In [10]:
#tuple does not have sort method so we can use sorted funtion on tuple
tuple1 = (2,54,23,3,56,73,45)
#tuple1.sort() #will not work
sorted(tuple1) #as we see sorted function works on tuple

[2, 3, 23, 45, 54, 56, 73]

In [11]:
sorted(tuple1, reverse= True)

[73, 56, 54, 45, 23, 3, 2]

# working with dict on sorted function

In [12]:
# dict does not have sort method but it sorted function works on dict
dict = {'name':'rhs', "job": "programming", 'age':"None", 'os': 'Mac'}
#dict.sort() will not work
sorted(dict) #it will give me the key value list sorted by accending letter

['age', 'job', 'name', 'os']

In [13]:
sorted(dict, reverse=True) #decending order of key of letters

['os', 'name', 'job', 'age']

In [14]:
#using sorted function but sort the list or tuple or dict with a different criteria
list1 = [-6,-5,-4,1,2,3]
print(list1)

[-6, -5, -4, 1, 2, 3]

In [15]:
sorted(list1)

[-6, -5, -4, 1, 2, 3]

In [16]:
#sort the list1 based on their abs value
print(sorted(list1, key =abs)) #as we see it is sorted as their abs value

[1, 2, 3, -4, -5, -6]

In [17]:
#sort list1 on decending abs value
sorted(list1, key = abs, reverse = True)

[-6, -5, -4, 3, 2, 1]

# sorting object with name attribute

In [21]:
#sort the object with emp name
class emp():
    def __init__(self,name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return f"({self.name},{self.age}, {self.salary})"
e1= emp('rhs', 35, 74000)
e2 = emp('rhs2', 32, 47000)
e3 = emp('sio',27, 85000)

emps= [e1,e2,e3]
def e_sort(emp):
    return emp.name
sorted(emps, key = e_sort)

[rhs,35, 74000, rhs2,32, 47000, sio,27, 85000]

In [25]:
#sort the object with emp salary
class emp():
    def __init__(self,name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return f"({self.name},{self.age}, {self.salary})"
e1= emp('rhs', 35, 74000)
e2 = emp('rhs2', 32, 47000)
e3 = emp('sio',27, 85000)

emps= [e1,e2,e3]
def e_sort(emp):
    return emp.salary
emps2 = sorted(emps, key = e_sort)
print(emps2)

[(rhs2,32, 47000), (rhs,35, 74000), (sio,27, 85000)]

In [26]:
#sort the object with catagory of the highest salary
#sort the object with emp salary
class emp():
    def __init__(self,name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return f"({self.name},{self.age}, {self.salary})"
e1= emp('rhs', 35, 74000)
e2 = emp('rhs2', 32, 47000)
e3 = emp('sio',27, 85000)

emps= [e1,e2,e3]
def e_sort(emp):
    return emp.salary
emps2 = sorted(emps, key = e_sort, reverse = True)
print(emps2)

[(sio,27, 85000), (rhs,35, 74000), (rhs2,32, 47000)]

In [27]:
#we can also pass key argument as lambda function
#sort the object with emp salary
class emp():
    def __init__(self,name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return f"({self.name},{self.age}, {self.salary})"
e1= emp('rhs', 35, 74000)
e2 = emp('rhs2', 32, 47000)
e3 = emp('sio',27, 85000)

emps= [e1,e2,e3]

emps2 = sorted(emps, key = lambda e: e.name) #we can skip the extra function by using lambda function
print(emps2)

[(rhs,35, 74000), (rhs2,32, 47000), (sio,27, 85000)]

In [28]:
#we can also pass key argument as lambda function
#sort the object with emp salary
class emp():
    def __init__(self,name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return f"({self.name},{self.age}, {self.salary})"
e1= emp('rhs', 35, 74000)
e2 = emp('rhs2', 32, 47000)
e3 = emp('sio',27, 85000)

emps= [e1,e2,e3]

emps2 = sorted(emps, key = lambda e: e.salary) #we can skip the extra function by using lambda function
print(emps2)

[(rhs2,32, 47000), (rhs,35, 74000), (sio,27, 85000)]

In [30]:
#we can also use the attrgetter for passing the key argument
#sort this as "age"

from operator import attrgetter
class emp():
    def __init__(self,name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return f"({self.name},{self.age}, {self.salary})"
e1= emp('rhs', 35, 74000)
e2 = emp('rhs2', 32, 47000)
e3 = emp('sio',27, 85000)

emps= [e1,e2,e3]

emps2 = sorted(emps, key = attrgetter('age')) #we can use attrgetter instead of using lambda or any customs functions

print(emps2)

[(sio,27, 85000), (rhs2,32, 47000), (rhs,35, 74000)]