# Formating with dict

In [3]:
#basic formating
#this is not readable and not a good way to the string formating
person = {'name': 'rhs', 'age': 25}
sentence = "My name is" + " " + person['name'] +" " + "I am" + " " + str(person['age']) + " "+ "years old."
print(sentence)

My name is rhs I am 25 years old.

In [4]:
#using format to do the string formating
sentence2 = "My name is {}, and I am {} years old".format(person['name'], person['age'])
print(sentence2)

My name is rhs, and I am 25 years old

In [5]:
#using format to place the 
#explicitly number the place holders
s3 = "My name is {0}, and I am {1} years old".format(person['name'], person['age'])
print(s3)

My name is rhs, and I am 25 years old

In [7]:
#passing 0 and 1 as placeholders to add those number up in the placeholders
tag = 'h1'
headlines = 'This is my headlines'
s3 = "<{0}> {1} </{0}>".format(tag, headlines)
print(s3)

<h1> This is my headlines </h1>

In [8]:
#place holders automatically grab the value as 0 and 1 
person = {'name': 'rhs', 'age': 25}
s4 = "My name is {} and I am {} years old".format(person['name'], person['age'])
print(s4)

My name is rhs and I am 25 years old

In [9]:
#we can explicitly tell the place holders to grab the value
person = {'name': 'rhs', 'age': 25}
s5 = "My name is {0} and I am {1} years old".format(person['name'], person['age'])
print(s5)

My name is rhs and I am 25 years old

In [12]:
#we can ajust the key value with the placeholders numbers
person = {'name': 'rhs', 'age': 25}
s6 = "My name is {0[name]} and I am {1[age]} years old".format(person, person)
print(s6)

My name is rhs and I am 25 years old

In [13]:
#in the format we can pass dict one time
person = {'name': 'rhs', 'age': 25}
s7 = "My name is {0[name]} and I am {0[age]} years old".format(person)
print(s7)

My name is rhs and I am 25 years old

In [17]:
#using string with class 
class person():
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1= person('rhs', '26') #instance of the class
s8 = "My name is {0.name} and I am {0.age} years old".format(p1)
print(s8)

My name is rhs and I am 26 years old

In [19]:
#we can also pass in keywords arguments
class person():
    def __init__(self,name,age):
        self.name = name
        self.age = age
# p1= person('rhs', '26') #instance of the class
s9 = "My name is {name} and I am {age} years old".format(name= 'rhs', age ='30')
print(s9)

My name is rhs and I am 30 years old

In [20]:
#also we can unpack the dict with ** and using the keyword arguments
#print out dict values
person = {'name': 'rhs', 'age': 25}
s10 = "My name is {name} and I am {age} years old".format(**person)
print(s10)

My name is rhs and I am 25 years old

# formating numbers

In [22]:
#looping through and printing out numbers
for num in range(1,10):
    s11 = 'the value is {}'.format(num)
    print(s11)

the value is 1
the value is 2
the value is 3
the value is 4
the value is 5
the value is 6
the value is 7
the value is 8
the value is 9

In [25]:
#number formating 
#looping through and printing out numbers
for num in range(1,12):
    s11 = 'the value is {:02}'.format(num) #2 digits padding
    print(s11)

the value is 01
the value is 02
the value is 03
the value is 04
the value is 05
the value is 06
the value is 07
the value is 08
the value is 09
the value is 10
the value is 11

In [26]:
#number formating 
#looping through and printing out numbers
for num in range(1,12):
    s11 = 'the value is {:03}'.format(num) #3 digits padding
    print(s11)

the value is 001
the value is 002
the value is 003
the value is 004
the value is 005
the value is 006
the value is 007
the value is 008
the value is 009
the value is 010
the value is 011

In [28]:
#formating decimals
pi = 3.14159265
s12= 'Pi is equal to {}'.format(pi)
print(s12)

Pi is equal to 3.14159265

In [32]:
#if we want 2 decimal number after .
pi = 3.14159265
s13= 'Pi is equal to {:.2f}'.format(pi)
print(s13)

Pi is equal to 3.14

In [33]:
#if we want 3 decimal number after .
pi = 3.14159265
s13= 'Pi is equal to {:.3f}'.format(pi)
print(s13)

Pi is equal to 3.142

In [36]:
#print large number with comma seperated
s14 = '1MB is equal to {:,} bytes'.format(1000**2)
print(s14)
#to specify something in the placeholders we have to put colon : first then however we want it to print

1MB is equal to 1,000,000 bytes

In [38]:
#print large number with comma seperated and 2 decimal padding
s15 = '1MB is equal to {:,.2f} bytes'.format(1000**2)
print(s15)
#to specify something in the placeholders we have to put colon : first then however we want it to print

1MB is equal to 1,000,000.00 bytes

# working with datetime module

In [39]:
import datetime
date= datetime.datetime(2016,9,24,12,30,45)
print(date)

2016-09-24 12:30:45

In [43]:
#print out today's date
date1 = datetime.date.today()
print(date1)

2025-07-10

In [47]:
#March 01, 2016 print this format as the date time
import datetime
date= datetime.datetime(2016,9,24,12,30,45)
d1 = "{:%B %d,%Y}".format(date)
print(d1)

September 24,2016

In [49]:
#print out March 01, 2016 fell on a Tuesday and was the 061 day of the year 
date= datetime.datetime(2016,9,24,12,30,45)
d1 = "{0:%B %d,%Y} fell on {0:%A} and was the {0:%j}".format(date) #we have to specify the placeholder numbers a 0 because we pass 1 as date in format
print(d1)

September 24,2016 fell on Saturday and was the 268