# Here we will discuss about list comprehensions

In [1]:
#List Comprehensions
nums = [1,2,3,4,5,6,7,8,9]
#print out 'n' for each 'n' in nums
list1 =[]
for n in nums:
    list1.append(n)
print(list1)
#it is basically copying a list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
#normal loop
#easier and most readable to work with
#initial is what we want, then as usual the for loop
nums = [1,2,3,4,5,6,7,8,9]
list2 = [n for n in nums]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
#list comprehension
#easier and most readable to work with
#initial is what we want, then as usual the for loop
#square for all value in the nums
nums = [1,2,3,4,5,6,7,8,9]
list3 = [n*n for n in nums]
print(list3)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
#normal loop for square of all nums
nums = [1,2,3,4,5,6,7,8,9]
list4 = []
for n in nums:
    list4.append(n*n)
print(list4) #all the square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#using map + lambda (anonymous function)
nums = [1,2,3,4,5,6,7,8,9]
list5 = map(lambda n: n*n, nums)
print(list(list5))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
#print n even number
nums = [1,2,3,4,5,6,7,8,9]
list6= []
for n in nums:
    if n%2 == 0:
        list6.append(n)
print(list6)

[2, 4, 6, 8]

In [13]:
#even number with list comprehensions
nums = [1,2,3,4,5,6,7,8,9]
list7 = [n for n in nums if n%2==0]
print(list7)

[2, 4, 6, 8]

In [14]:
#odd number with list comprehensions from 1 to 100
list7 = [n for n in range(100) if n%2 ==1]
print(list7)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [16]:
#even number with list comprehensions between 1 to 100
list8 = [n for n in range(1,100) if n%2 ==0]
print(list8)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [20]:
#using filter and lambda to get the even number
list9 = filter(lambda n: n%2 ==0, range(1, 100))
print(list(list9))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [22]:
#using filter and lambda to get the even number
list9 = filter(lambda n: n%2 ==0, range(1, 100))
print(list(list9))
#if we use map in this function we would get True or false

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [23]:
#here it is
list9 = map(lambda n: n%2 ==0, range(1, 100))
print(list(list9))

[False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False]

In [27]:
#print out a (letter, num) pair for each letter in 'abcd' and each number in '0123'
list9=[]
for l in 'abcd':
    for n in range(4):
        list9.append([l,n]) #for printing out list
print(list9)

[['a', 0], ['a', 1], ['a', 2], ['a', 3], ['b', 0], ['b', 1], ['b', 2], ['b', 3], ['c', 0], ['c', 1], ['c', 2], ['c', 3], ['d', 0], ['d', 1], ['d', 2], ['d', 3]]

In [28]:
#print out a (letter, num) pair for each letter in 'abcd' and each number in '0123'
list9=[]
for l in 'abcd':
    for n in range(4):
        list9.append((l,n)) #for printing out tuple
print(list9)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [29]:
#nested for loops in list comprehensions with tuple
list10 = [(l,n) for l in 'abcd' for n in range(4)]
print(list10)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [30]:
#nested for loops in list comprehensions with a list
list10 = [[l,n] for l in 'abcd' for n in range(4)]
print(list10)

[['a', 0], ['a', 1], ['a', 2], ['a', 3], ['b', 0], ['b', 1], ['b', 2], ['b', 3], ['c', 0], ['c', 1], ['c', 2], ['c', 3], ['d', 0], ['d', 1], ['d', 2], ['d', 3]]

## Comprehensions in dict

In [34]:
#using zip funtion and it prints out a tuple that matched up with each value in list
names = ['bruce', 'clark', 'peter', 'logan', 'wade']
heros = ['batman', 'superman', 'spiderman', 'wolverine', 'deadpool']
print (list((zip(names, heros)))) #we have to wrap that up in a list func but in python2 it works fine without wraping up

[('bruce', 'batman'), ('clark', 'superman'), ('peter', 'spiderman'), ('logan', 'wolverine'), ('wade', 'deadpool')]

In [35]:
#making dict with zip funtion
dict = {}
names = ['bruce', 'clark', 'peter', 'logan', 'wade']
heros = ['batman', 'superman', 'spiderman', 'wolverine', 'deadpool']
for name, hero in zip(names, heros):
    dict[name]= hero
print(dict)

{'bruce': 'batman', 'clark': 'superman', 'peter': 'spiderman', 'logan': 'wolverine', 'wade': 'deadpool'}

In [37]:
#using dict comprehensions

names = ['bruce', 'clark', 'peter', 'logan', 'wade']
heros = ['batman', 'superman', 'spiderman', 'wolverine', 'deadpool']
dict2= {name:hero for name, hero in zip(names, heros)}
print(dict2)

{'bruce': 'batman', 'clark': 'superman', 'peter': 'spiderman', 'logan': 'wolverine', 'wade': 'deadpool'}

In [42]:
#using dict comprehensions
#skip peter 

names = ['bruce', 'clark', 'peter', 'logan', 'wade']
heros = ['batman', 'superman', 'spiderman', 'wolverine', 'deadpool']
dict3= {name:hero for name, hero in zip(names, heros) if name != 'peter'} #name not eqaul to peter
print(dict3)

{'bruce': 'batman', 'clark': 'superman', 'logan': 'wolverine', 'wade': 'deadpool'}

## Set Comprehensions

In [43]:
#set is pretty much exactly same but it has unique value
nums = {1,2,3,4,5,6,7,8,9}
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
print(type(nums))

<class 'set'>

In [47]:
set1 = set()
for n in nums:
    set1.add(n)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [49]:
#to creating a empty set we can not use { } because it will create a dict so we have to use set constructor
set2 ={}
print(type(set2))

<class 'dict'>

In [51]:
set3 = set()
print(type(set3))

<class 'set'>

In [52]:
#set comprehensions
set4 = {n for n in range(10)}
print(set4)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
#print out square value or each number from 0 to 10
set5 = {n*n for n in range(10)}
print(set5)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [71]:
#generator expressions
#yield "n*n" for each "n" in nums
nums = range(1,10)
def gen_func(nums):
    for n in nums:
        yield n*n
gen1 = gen_func(nums)
print(set(gen1))

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [73]:
#comprehensions work for set
gen2 = (n*n for n in range(10))
print(set(gen2))

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}