## list

In [1]:
#creating a empty with enclosed with square bracket and seperated by comma
courses = []

In [3]:
print(type((courses)))

<class 'list'>

In [4]:
courses= ["history", "math", "physics", 'compsci']
print(courses)

['history', 'math', 'physics', 'compsci']

In [5]:
#lenght of a list
print(len(courses))

4

In [6]:
#access by index
print(courses[0])

history

In [7]:
#negative index
courses[-1]

'compsci'

In [8]:
#accessing last value
courses[3]

'compsci'

In [10]:
#slicing through a list
#courses[start:end:step]
courses[0:2] #not including

['history', 'math']

In [12]:
courses[:2] #first index is inclusive but last index is exclusive

['history', 'math']

In [13]:
# list method
#adding item by append() method
courses.append('art')
print(courses)

['history', 'math', 'physics', 'compsci', 'art']

In [14]:
#adding value in a list in a specific location by insert method
#insert takes 2 argument insert(index, value)
courses.insert(0,'biology')

In [15]:
print(courses)

['biology', 'history', 'math', 'physics', 'compsci', 'art']

In [16]:
#replacing value with index
courses[0]='stats'

In [17]:
courses

['stats', 'history', 'math', 'physics', 'compsci', 'art']

In [18]:
#adding by extend suppose we have a lot value or another list
courses2 = ['education','english']
courses.extend(courses2) #it will extend the list from another list

In [19]:
courses

['stats',
 'history',
 'math',
 'physics',
 'compsci',
 'art',
 'education',
 'english']

In [20]:
#if we insert that second list by insert method then it will build a nested list
courses.insert(0, courses2)

In [21]:
courses

[['education', 'english'],
 'stats',
 'history',
 'math',
 'physics',
 'compsci',
 'art',
 'education',
 'english']

In [22]:
#remove from a list
courses.remove('math')

In [23]:
print(courses)

[['education', 'english'], 'stats', 'history', 'physics', 'compsci', 'art', 'education', 'english']

In [24]:
#pop method will remove the end value a list and it returns the value so we can grab that popped value
courses.pop()

'english'

In [25]:
popped= courses.pop()

In [26]:
courses

[['education', 'english'], 'stats', 'history', 'physics', 'compsci', 'art']

In [27]:
print(popped)

education

In [29]:
#sorting a list
courses.reverse() #it will reverse the list by alphabetical order

In [30]:
courses

['art', 'compsci', 'physics', 'history', 'stats', ['education', 'english']]

In [34]:
#sorting a list by sort method
courses = ['art', 'compsci', 'physics', 'history', 'stats']
courses.sort() #sort by alphabetical order

In [35]:
courses

['art', 'compsci', 'history', 'physics', 'stats']

In [36]:
num = [1,3,4,67,3,2]
num.sort() #sorting in accending order

In [37]:
num

[1, 2, 3, 3, 4, 67]

In [38]:
#sorting in decending order
num.sort(reverse=True)
print(num)

[67, 4, 3, 3, 2, 1]

In [39]:
#sort method will alter the original list

In [41]:
#so if we want to sort our list without altering the original list then we can use sorted method
s_num= sorted(num)

In [42]:
num

[67, 4, 3, 3, 2, 1]

In [43]:
s_num

[1, 2, 3, 3, 4, 67]

In [44]:
#sorted function takes argument
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [48]:
#finding max/min/sum by built in functions
print(min(num))

1

In [49]:
#finding max/min/sum by built in functions
print(max(num))

67

In [50]:
#finding max/min/sum by built in functions
print(sum(num))

80

In [51]:
#finding index from a list by index method
num.index(67)

0

In [53]:
courses

['art', 'compsci', 'history', 'physics', 'stats']

In [54]:
courses.index('art')

0

In [55]:
# check if a value in a list or not it is called membership
'art' in courses

True

In [56]:
#for loop-- loop through entire list one by one
for item in courses:
    print(item)

art
compsci
history
physics
stats

In [59]:
#we can also print out index number by loop and using enumerate function
for i, item in enumerate(courses):
    print(f"index: {i} and Course: {item}")

index: 0 and Course: art
index: 1 and Course: compsci
index: 2 and Course: history
index: 3 and Course: physics
index: 4 and Course: stats

In [67]:
#turn our courses in comma seperated value
course_str= "- ".join(courses)

In [68]:
print(course_str)

art- compsci- history- physics- stats

In [69]:
#using split method
new_list = course_str.split("-")

In [70]:
print(new_list)

['art', ' compsci', ' history', ' physics', ' stats']

In [64]:
#turn our courses in hypen seperated value
course_str= ", ".join(courses)

In [65]:
print(course_str)

art, compsci, history, physics, stats

## Tuple
- 1. we can not modify tuples-immutable
  2. tuple starts with ()
  3. creating a tuple-- 1. tup = () and tup = tuple() constructor

In [78]:
#understanding mutable immutable
courses

['biology', 'english']

In [79]:
courses= courses2

In [80]:
print(courses)

['biology', 'english']

In [81]:
courses[0]='art'

In [82]:
courses

['art', 'english']

In [83]:
courses2 #as we see here it changed to in courses and courses2 both of them that is called it alter the both list

['art', 'english']

In [93]:
#using tuple
tup1 = ('art', 'compsci', 'history', 'physics', 'stats')

In [94]:
tup2 = tup1

In [95]:
tup2

('art', 'compsci', 'history', 'physics', 'stats')

In [96]:
tup1

('art', 'compsci', 'history', 'physics', 'stats')

In [97]:
#in tuple we can not add a new item or delete anything but tuple does everything like list

In [98]:
 #indexing via tuple
tup2[0]

'art'

In [99]:
#negative indexing
tup2[-1]

'stats'

#looping through tuple:
for i in tup2:
    print(i)

In [101]:
#membership operator 
'art' in tup2

True

In [102]:
#slicing with tuple
tup2[0:2]

('art', 'compsci')

## set
- it is unordered and it does not contain any duplicate value
- set enclosed with curly braces and seperated by comma

In [103]:
set1 = {} #it will create a empty dict
type(set1)

dict

In [104]:
#in order to create a set we can use set method
set2 = set()

In [105]:
type(set2)

set

In [108]:
set3 = {5,} #also using a curly braces will create a set

In [109]:
type(set3)

set

In [112]:
set5 = {'art', 'math', 'physics'}

In [113]:
set5

{'art', 'math', 'physics'}

In [121]:
#set does not include duplicate
set5 = {'art', 'math', 'physics', 'math'}

In [122]:
set5

{'art', 'math', 'physics'}

In [123]:
#membership operator
#set does it very good other than list and tuple
'art' in set5

True

In [124]:
#adding item in set
set5.add("english")

In [125]:
set5

{'art', 'english', 'math', 'physics'}

In [126]:
#remove item from set
set5.remove('art')

In [127]:
set5

{'english', 'math', 'physics'}

In [136]:
#union operation #it will join 2 sets in one and ignore duplicate
set6= {'english', 'math', 'physics','education','art'}
set6|set5
#set6.union(set5)

{'art', 'education', 'english', 'math', 'physics'}

In [137]:
#intersection #what are the common in those 2 sets
set6.intersection(set5)

{'english', 'math', 'physics'}

In [139]:
#difference  #finding difference
set6.difference(set5)

{'art', 'education'}